__pycache__/
.venv
login_hangle.py

#IBM
ibm_tokenizer
lora_ibm_causal_finetuned_model
modelo_treinado_ibm

#Tucano
modelo_treinado_tucano
tucano_tokenizer
lora_tucano_causal_finetuned_model

#Google
lora_google_sequencial_finetuned_model
modelo_treinado_google
google_tokenizer

